.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: opacity 2000ms;
}
.nodeExit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 2000ms;
}

.enterDone {
  background-color: aqua;
}
